In [2]:
import pandas as pd

# csv 파일 불러오기
df = pd.read_csv('top10_20231108.csv')

# 컬럼명 변경
df.columns = ['구분', '순위', '여행지 명','용도','국내/외 여행', '지역', '모바일', 'pc', '트래픽 수', '일자']

# 변경된 데이터프레임 확인
print(df.head())

      구분  순위 여행지 명  용도 국내/외 여행       지역  모바일    pc  트래픽 수        일자
0  56442   1  부산여행  여행    국내여행    부산광역시  550  1286   1836  20231108
1  56443   2  경주여행  여행    국내여행     경상북도  392   990   1382  20231108
2  56444   3  제주여행  여행    국내여행  제주특별자치도  283   881   1164  20231108
3  56445   4  여수여행  여행    국내여행     전라남도  232   903   1135  20231108
4  56446   5  전주여행  여행    국내여행     전라북도  231   625    856  20231108

In [3]:
# '순위' 컬럼을 기준으로 오름차순 정렬
df_sorted = df.sort_values(by='순위')

# 원하는 컬럼만 출력
df_final = df_sorted[['순위', '지역', '트래픽 수', '일자']]

# 최종 데이터프레임 확인
print(df_final.head())

   순위       지역  트래픽 수        일자
0   1    부산광역시   1836  20231108
1   2     경상북도   1382  20231108
2   3  제주특별자치도   1164  20231108
3   4     전라남도   1135  20231108
4   5     전라북도    856  20231108

In [5]:
import pandas as pd

# csv 파일 불러오기
df = pd.read_csv('top10_20231108.csv')

# 컬럼명 변경
df.columns = ['구분', '순위', '여행지 명','용도','국내/외 여행', '지역', '모바일', 'pc', '트래픽 수', '일자']

# '순위' 컬럼을 기준으로 오름차순 정렬
df_sorted = df.sort_values(by='순위')

# 원하는 컬럼만 출력
df_final = df_sorted[['순위', '지역', '트래픽 수', '일자']]

# 최종 데이터프레임 출력
print(df_final)

   순위       지역  트래픽 수        일자
0   1    부산광역시   1836  20231108
1   2     경상북도   1382  20231108
2   3  제주특별자치도   1164  20231108
3   4     전라남도   1135  20231108
4   5     전라북도    856  20231108
5   6     전라북도    845  20231108
6   7      강원도    824  20231108
7   8      강원도    627  20231108
8   9    대구광역시    589  20231108
9  10     전라남도    524  20231108

In [6]:
# csv 파일로 저장
df_final.to_csv('topData_20231108.csv', index=False, encoding='utf-8-sig')

# xlsx 파일로 저장
df_final.to_excel('topData_20231108.xlsx', index=False)